# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

aws: &aws
  aws_key_id:
  aws_key:

development:
  secret_key_base: 6cabcf4dfb60c4081d8e5e61e65a9ae620e2592721ba03eeaa6f863dff692764774ada4a11e6dffcc032a6ef65e5fb91bf16845b8299222adf65aad5d2ea3c7d
  <<: *aws

test:
  secret_key_base: 48eed311ea03dca74b12ac9560a313c7a727918b06ff5efbfab1d146889747312940364e4f81f39f0654648de87f4cbcfd87c308985ff58390bbe5eab536f097
  <<: *aws

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: PLACEHOLDER = bundle exec rake secret
  <<: *aws
