<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">CrMonitor</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><%= link_to('Instances', root_path) %></a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= button_to 'Sign out', sign_out_path, method: :delete, class: 'btn btn-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
